.item_why {
  display: flex;
  column-gap: 20px;
}

.item_why:not(:last-child) {
  margin-bottom: 24px;
}
.wrap_img {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  box-shadow: 0 12px 32px 0 rgba(169, 169, 173, 0.16);
  background: #fff;
}

.title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #1d1e21;
  margin-bottom: 8px;
}

.descript {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.44;
  letter-spacing: 0.01em;
  color: #929395;
}
