@import 'modern-normalize';

@import url('./variables.css');
@import url('./fonts.css');

body {
  background-color: var(--bg-color-white, #fff);
  color: var(--text-color-black, black);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
