.wrap {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.wrap_lang {
  width: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container_lang_select {
  padding: 6px 6px;
}

.wrap_flag {
  width: 38px;
  height: 30px;
}

.line {
  width: 2px;
  height: 20px;
  border-left: 1px solid gray;
}
