.root {
  display: flex;
  gap: 31px;
  width: 1250px;
  padding: 78px 0 53px 140px;
  margin: auto;
  background: var(--bg-grey-section);
  position: relative;
}
.container {
  width: 1000px;
  background-color: var(--bg-color-white);
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
  margin: auto;
  padding: 12px 12px 12px 32px;
  border-radius: 16px;
}
.wrap_title {
  width: 529px;
  padding-top: 60px;
}

.title {
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #1d1e21;
  margin: 0;
  margin-bottom: 16px;
}

.span_title {
  color: #3083ff;
  position: relative;
  padding-left: 10px;
}
.svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.wrap_title > p {
  max-width: 470px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.01em;
  color: #929395;
}

.popular_section {
  width: 1250px;
  margin: auto;
  padding: 132px 70px;
  text-align: center;
}

.popular_descriptio {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #acaeb4;
}

.popular_title {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.24;
  letter-spacing: 0.01em;
  text-align: center;
  color: #1d1e21;
}
.wrap_card {
  display: flex;
  margin-bottom: 54px;
  justify-content: space-around;
}
.popular_btn {
  all: unset;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  padding: 16px 40px;
}

.popular_btn_svg {
  margin-left: 14px;
}
