.root {
  display: flex;
  gap: 31px;
  width: 1250px;
  padding: 78px 0 53px 140px;
  margin: auto;
  background: var(--bg-grey-section);
  position: relative;
}
.container {
  width: 1000px;
  background-color: var(--bg-color-white);
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
  margin: auto;
  padding: 12px 12px 12px 32px;
  border-radius: 16px;
  box-shadow: 0 12px 24px 0 rgba(169, 169, 173, 0.09);
}
.wrap_title {
  width: 529px;
  padding-top: 60px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #1d1e21;
  margin: 0;
  margin-bottom: 16px;
}

.span_title {
  color: #3083ff;
  position: relative;
  padding-left: 10px;
}
.svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.wrap_title > p {
  max-width: 470px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.01em;
  color: #929395;
}

.popular_section {
  padding: 132px 70px;
  text-align: center;
}
.wrap_title_section {
  margin-bottom: 54px;
}

.wrap_card {
  display: flex;
  margin-bottom: 54px;
  gap: 24px;
  justify-content: center;
}
.popular_btn {
  all: unset;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  padding: 16px 40px;
}

.popular_btn_svg {
  margin-left: 14px;
}

.test {
  margin-bottom: 64px;
}
.why_section {
  width: 1250px;
  margin: auto;
  padding: 90px 70px;
  background: linear-gradient(270deg, #fafafa 0%, #fafafa 100%);
}

.wrap_section_why {
  position: relative;
  display: flex;
  column-gap: 80px;
  align-items: center;
}
.wrap_img_why {
  position: absolute;
  left: 10px;
  top: -90px;
  width: 636px;
  height: 458px;
  background-image: url('/img/mapCity.png');
}
.img_why {
  z-index: 1;
}
.container_why_descript {
  max-width: 433px;
}

.wrap_why_title {
  margin-bottom: 32px;
}
